.dashboard {
  text-align: center;
  width: 350px;
  margin-inline: auto;
  margin-top: 6rem;
}

.dashboard h2 {
  text-align: left;
}

.disease-con {
  border: 2px solid #000;
  margin-top: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.add-disease-con-css {
  border: 4px solid var(--blue);
}

a {
  text-decoration: none;
  color: #000;
}

.disease-con p {
  /* border: 2px solid red; */
  width: 80%;
  text-align: left;
  margin-left: 20px;
}
